body {
	background: black;
}

#game {
	width: 640px;
	height: 480px;
	margin: 10px 50px;
	border: green solid 1px;
	/*cursor: none;*/
}

#start-game {
	margin: 10px 10px 10px 50px;
}
#connect {
	margin-right: 350px;
}
#player1 {
	margin-right: 10px;
}